name: Continuous Integration
on:
  pull_request:
    branches:
      - main
jobs:
  build_lint:
    name: Build and lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.18.0
      - name: Cache node modules
        id: cache_node_modules
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-node-
      - name: Install Dependencies
        if: steps.cache_node_modules.outputs.cache-hit != 'true'
        run: npm ci
      - name: Compile TypeScript
        run: npm run compile
      - name: Run linter
        run: npm run lint
  build_docker:
    name: Build Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Run paths filter
        uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            build:
              - 'Dockerfile'
              - 'package*.json'
      - name: Build Docker image
        if: steps.filter.outputs.build == 'true'
        run: docker build .
